<div class="container-fluid bg-light">
  <app-topnav></app-topnav>
    <!-- <div class=" row background-image"></div> -->
    <!-- <div class="image-text"> THIS IS IT</div> -->
    <div class="row mt-3">
        <h1 class="text-center">
            Your Voice
        </h1>
    </div>
    <div class="row text-center text-dark stylish mt-3">
        <div class="col-sm-8 col-md-6 col-lg-4"></div>
        <div class="col-sm-8 col-md-6 col-lg-4 text-decoration-underline"> <h5>DISCOVER, LEARN and GROW</h5></div>
        <div class="col-sm-8 col-md-6 col-lg-4"></div>
    </div>
    <div class="row text-dark mt-3">
      <div class="col-sm-8 col-md-6 col-lg-4 text-center">
        <iframe src="https://embed.lottiefiles.com/animation/78296" width="100%" height="100%"></iframe>
    </div>
        <div class="col-sm-8 col-md-6 col-lg-8">
            <div class="card text-center border-0">
                <div class="card-header border-0 bg-white">
                  Use your voice
                </div>
                <div class="card-body">
                  <h5 class="card-title"> Speak if you think you know it</h5>
                  <p class="card-text border-0">Speak your native language and enjoy each and every moment of it.</p>
                  <a href="#" class="btn btn-primary">Record yourself</a>
                </div>
                <div class="card-footer text-muted border-0 bg-white">
                  Let someone else listen to your beautiful voice!
                </div>
              </div>
        </div>
        
    </div>
    <div class="row text-dark mt-3 bg-light">
        
        <div class="col-sm-8 col-md-6 col-lg-8 text-center">
            <div class="card text-center border-0">
                <div class="card-header border-0 bg-white">
                  Rate and verify what others say
                </div>
                <div class="card-body">
                  <h5 class="card-title"> Rate to help guage the level of language mastery</h5>
                  <p class="card-text border-0">While you enjoy the recording kindly leave us a rating to help us know who has done the best.</p>
                  <a href="#" class="btn btn-primary">Rate participants</a>
                </div>
                <div class="card-footer text-muted border-0 bg-white">
                  You think you know your language? become a judge!
                </div>
              </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4">
          <iframe src="https://embed.lottiefiles.com/animation/99549" width="100%" height="100%"></iframe>
          
      </div>
    </div>
    <div class="row text-dark mt-3">
      <div class="col-sm-8 col-md-6 col-lg-4 text-center">
        <iframe src="https://embed.lottiefiles.com/animation/32624" width="100%" height="100%"></iframe>
    </div>
        <div class="col-sm-8 col-md-6 col-lg-8">
            <div class="card text-center border-0">
                <div class="card-header border-0 bg-white">
                  Be creative
                </div>
                <div class="card-body">
                  <h5 class="card-title"> Write what you would like to know in other languages</h5>
                  <p class="card-text border-0">Write your english language and wait for a transaltio of the same in a native language.</p>
                  <a href="#" class="btn btn-primary">write sentence</a>
                </div>
                <div class="card-footer text-muted border-0 bg-white">
                  Wouldn't you like others to translate your sentence too?
                </div>
              </div>
        </div>
        
    </div>
    <div class="row text-dark mt-3 bg-light">
      
      <div class="col-sm-8 col-md-6 col-lg-8 text-center">
          <div class="card text-center border-0">
              <div class="card-header border-0 bg-white">
                Big world different languages requires greater understanding!
              </div>
              <div class="card-body">
                <h5 class="card-title"> Translate and enhance language mastery</h5>
                <p class="card-text border-0">Please Translate the sentence to a language you are familiar with. here you can test your mastery skills.</p>
                <a href="#" class="btn btn-primary">Translate now!</a>
              </div>
              <div class="card-footer text-muted border-0 bg-white">
                You can help someone understand your language
              </div>
            </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4">
        <iframe src="https://embed.lottiefiles.com/animation/9656" width="100%" height="100%"></iframe>
          
      </div>
  </div>
  <div class="row bg-primary">
    <div class="row text-center">
      <h3>Testimonials</h3>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner card-align">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="card text-center mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="cardback">
                      <img src="./assets/images/background.jpg" alt="" srcset="" height="120px" width="120px" class="cardback1">
                    </div>
                    </div>
                </div>
                  <i class="fa-solid fa-message"></i>
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <div class="card-footer">
                </div>
              </div>

            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 ">
              <div class="card text-center mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="cardback">
                      <img src="./assets/images/background.jpg" alt="" srcset="" height="120px" width="120px" class="cardback1">
                    </div>
                    </div>
                </div>
                  <i class="fa-solid fa-message"></i>
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <div class="card-footer">
                </div>
              </div>

            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="card text-center mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="cardback">
                      <img src="./assets/images/background.jpg" alt="" srcset="" height="120px" width="120px" class="cardback1">
                    </div>
                    </div>
                </div>
                  <i class="fa-solid fa-message"></i>
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <div class="card-footer">
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- copy and paste the same as the one above -->
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <!-- copy and paste as the on above -->
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="row text-center text-decoration-underline mt-3">
    <h3>Contact us today</h3>
  </div>
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-3"></div>
    <div class="col-sm-2 col-md-2 col-lg-6">
      <form>
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text" id="form4Example1" class="form-control" />
          <label class="form-label" for="form4Example1">Name</label>
        </div>
      
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form4Example2" class="form-control" />
          <label class="form-label" for="form4Example2">Email address</label>
        </div>
      
        <!-- Message input -->
        <div class="form-outline mb-4">
          <textarea class="form-control" id="form4Example3" rows="4"></textarea>
          <label class="form-label" for="form4Example3">Message</label>
        </div>
      
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
          <label class="form-check-label" for="form4Example4">
            Send me a copy of this message
          </label>
        </div>
      
        <div class="row text-center">
          <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
        </div>
      </form>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-3"></div>
  </div>
  <div class="row">
    <!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>We are social</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 link-grayish">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-grayish">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-grayish">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-grayish">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-grayish">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-grayish">
        <i class="fab fa-github"></i>
      </a>
    </div>
    
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa-solid fa-comments-dollar"></i>Your Voice and logo
          </h6>
          <p>
            Anything important ,Anything important, Anything important
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Anything important</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Anything important</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Anything important</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Anything important</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Anything important</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Anything important</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Anything important</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Anything important</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-grayish"></i> Nairobi, 23343 2nd floor</p>
          <p>
            <i class="fas fa-envelope me-3 text-grayish"></i>
            info@yourvoice.com
          </p>
          <p><i class="fas fa-phone me-3 text-grayish"></i> + 254795836437</p>
          <p><i class="fas fa-print me-3 text-grayish"></i> + 254 795836437</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="#">Your Voice</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  </div>
</div>