<div class="container-fluid ">
    <div class="row">
        <section class="form">
            <div class="container">

                <div class="row">
                    <div class="col-lg-7 ">
                        <img src="./assets/images/unique.jpg" alt="cantbe seen"
                            class="img-fluid backpick mx-auto d-none d-md-block">

                    </div>
                    <!-- <form ></form> -->
                    <div class="col-lg-5">
                        <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
                            <div class="form-row">
                                <h2 class="px-4 py-5">Login Now</h2>
                                <div class="row px-4 py-4 ">
                                    <label for="exampleInputEmail1">Username</label>
                                    <input name="Username" formControlName="Username" type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter Username" required>
                                        <div *ngIf = "submitted && f['username'].errors">
                                            <div *ngIf = "f['username'].errors['required']" class="text-dark">username is required here</div>
                                        </div>
                                </div>
                            </div>
                            <div class="form-row px-4 py-4">
                                <div class="row">
                                    <label for="exampleInputEmail1">Password</label>
                                    <input name="password" type="password" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email" required>
                                        <!-- doing validation now -->
                                        <div *ngIf = "submitted && f['username'].errors">
                                            <div *ngIf = "f['username'].errors['required']" class="text-dark">password is needed here</div>
                                        </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="row px-4 py-4">
                                    <!-- to use the button below -->
                                    <button type="Submit" class="btn btn-primary"> login now <i
                                            class="fa-solid fa-arrow-right-to-bracket px-1"></i></button>
                                    <!-- the one below is to be commented out later -->
                                    <!-- <a href="/main" class="btn btn-primary btn1" aria-placeholder="******" >Login now <i class="fa-solid fa-arrow-right-to-bracket px-1"></i></a> -->
                                </div>
                                <div class="row px-4 py-3">

                                    <a href="#" class="btn btn-primary btn1" aria-placeholder="******">login with
                                        google<i class="fa-brands fa-google px-1"></i></a>
                                </div>
                            </div>
                            <a href="#" class="row px-4 py-2">forgot password?</a>
                            <p class="row px-4 py-2">Don't have an account? <a href="/register">Register now</a></p>
                        </form>

                    </div>

                </div>

            </div>

        </section>

    </div>
</div>