<div class="container-fluid ">
    <div class="row">
        <section class="form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 ">
                        <img src="./assets/images/unique.jpg" alt="cantbe seen" class="img-fluid backpick mx-auto d-none d-md-block">
                        
                    </div>
                    <div class="col-lg-5">
                        <div class="form-row">
                            <h2 class="px-4 py-5">Register Now</h2>
                            <div class="row px-4 py-3 ">
                                <label for="exampleInputEmail1">User name</label>
                                <input type="text" name="user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your full names"required>
                                 <!-- doing validation now -->
                                 <!-- <div *ngIf = "submitted && f['username'].errors">
                                    <div *ngIf = "f['username'].errors['required']" class="text-dark">username is required here</div>
                                </div> -->
                            </div>
                            <div class="row px-4 py-3 ">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" name="emailaddress" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                            </div>
                            <div class="row px-4 py-3 ">
                                <label for="exampleInputEmail1">Phone number</label>
                                <input type="email" name="phonenumber" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your phone number" required>
                            </div>
                            <div class="row px-4 py-3">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password" name="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="******" required>
                            </div>
                            <div class="row px-4 py-3">
                                <label for="exampleInputEmail1">Confirm Password</label>
                                <input type="password" name="confirmpassword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Confirm your password" required>
                            </div>
                            <div class="row px-4 py-3">
                                <button type="submit" class="btn btn-primary text-center text-dark"> register</button>
                            </div>
                        </div>
                        

                        <!-- remember TO ADD THE REGISTER BUTTON LATER -->
                        <div class="form-row d-sm-none">
                            <div class="row px-4 py-4 ">
                                
                                <a href="/maindash" class="btn btn-primary btn1">Register now <i class="fa-solid fa-arrow-right-to-bracket px-1"></i></a>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>